*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #F0F8FF;
    align-items: center;
    padding: 10px 70px;
}

nav a{
    color: #333;
}

nav ul{
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-btn input{
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 50px;
    border-width: 0;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
}

main div{
    width: 100%;
}

main h1{
    font-size: 60px;
    font-weight: bold;
}

main p{
    font-size: 20px;
    margin: 20px 0;
}

main input{
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 50px;
    border-width: 0;
    font-weight: bold;
}

#about{
    padding: 50px;
    background-color: #f3f4f6;
}

section h2{
    font-size: 40px;
}

section p{
    margin: 10px 0;
}

.about-header{
    width: 50%;
    font-size: 10px;
    margin-bottom: 2rem;
}

.about-header h2{
    font-size: 50px;
    font-weight: 400;
}

.about-header p{
    font-size: 18px;
}

#about .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
}

#articles{
    padding: 50px;
}

section h3{
    font-size: 20px;
    padding: 20px;
}

.article-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 20px 40px;
    gap: 40px;
    font-size: 12px;
}

.article-body div{
    box-shadow: 0 0 10px #dedede;
}

.article-body ul{
    padding: 10px;
}

.article-body a{
    color: brown;
}

#select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #2d314d;
}

.center-links{
    display: flex;
    gap: 100px;
    
}

.center-links li{
    padding: 10px 0;
}

#select a{
    color: #f3f4f6;
    padding: 10px 10px;
}

#select img{
    margin-bottom: 2rem ;
}

.online{
    display: flex;
    padding: 5px 0;
    /* justify-content: space-between; */
    align-items: center;
    color: #f3f4f6;
}

#select input{
    border-radius: 50px;
    background-color: #4696be;
    padding: 10px 20px;
    margin-bottom: 2rem;
    border-width: 0;
    font-weight: bold;
}

#select p{
    color: #f3f4f6;
}

@media screen and (max-width:992px) {
    nav ul{
        gap: 30px;
        font-size: 15px;
    }

    nav img{
        width: 45%;
    }

    nav{
        justify-content: left;
        padding: 10px 20px;
    }

    .nav-btn input{
        position: relative;
        left: 60px;
    }

    main h1{
        font-weight: bold;
        font-size: 35px;
    }

    main p{
        font-size: 15px;
    }

    .about-header h2{
        font-weight: bold;
        font-size: 35px;
    }

    .about-header p{
        font-size: 15px;
    }

    section h3{
        font-size: 15px;
    }

    section p{
        font-size: 12px;
    }
    
}

@media screen and (max-width:768px) {
    main h1{
        font-size: 30px;
    }

    .article-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:576px) {
    main{
        gap: 100px;
    }

    main p{
        font-size: 15px;
    }

    main div{
        width: 55%;
    }

    #about .about-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    section h3{
        font-size: 20px;
    }

    section p{
        font-size: 15px;
    }

    .article-body{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .center-links{
        gap: 15px;
        
    }

    #select img{
        width: 100%;
    }

    nav ul{
        gap: 10px;
        font-size: 10px;
        font-weight: bold;
    }

    nav img{
        width: 100%;
        padding-right: 1rem;
    }

    #select{
        padding: 0;
    }
    
}

@media screen and (max-width:480px) {


    .nav-btn input{
        padding: 5px 15px;
        position: relative;
        left: 20px;
    }

    main h1{
        font-size: 25px;
    }

    main{
        padding: 20px 30px;
        gap: 30px;
    }

    main img{
        width: 60%;
    }

    main p{
        font-size: 12px;
    }

    #about .about-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    secton p{
        font-size: 20px;
    }

    #select{
        padding: 2px;
        gap: 0px;
    }

    nav{
        padding: 5px 5px;
    }

    #select img{
        width: 20%;
    }

    #articles{
        padding: 0;
    }

    #about{
        padding: 5px;
    }

    .online{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .center-links{
        gap: 2px;
        font-size: 10px;
        
    }

    #select p{
        font-size: 10px;
    }

    .logo img{
        width: 100%;
    }

    .nav-btn input{
        font-size: 10px;
        padding: 5px 10px;
    }

    nav ul{
        font-size: 8px;
        gap: 5;
    }
        
    }
    



